.app-form {
  width: 700px;
  .app-cardForm{
    display: flex;
    .app-card {
      border: 2px solid $card-back;
      border-radius: 5px;
      cursor: pointer;
      margin: .5rem;
      padding: 10px;
      text-align: center;
      width: 60%;
      label {
        height: 100px;
        font-size: 1.5rem;
        padding-top: 20px;
      }
    }
  }
}
.app-input {
  color: $dark-grey;
  border: 0px;
  border-bottom: 1px solid $light-grey;
  font-size: 16px;
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
  transition: border-bottom .3s ease;
  &:focus {
      border-bottom: 1px solid $primary;
      outline: none;
  }
}
